*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after{
     box-sizing: inherit
}
html,body{
    height: 100%;
}
html{
    
    box-sizing: border-box;
}
body{
    font-family: 'Open sans', sans-serif;
    overflow-x: hidden;
    font-size: 14px;
    color: $grey-700;
    font-weight: 200;
    
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}