$palette-primary: #FF66B9;
$palette-secondary:#011936;
$palette-warning: #FFC000;
$palette-danger: #FE1C27;
$palette-success: #02AE62;
$palette-white: #ffffff;
 

//Greys -- Material
$grey-50:  #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #d8d8d8;
$grey-400: #BDBDBD;
$grey-500: #9b9b9b;
$grey-600: #757575;
$grey-700: #888888;
$grey-800: #4A4A4A;